/* Sector universal */

*{

    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#encabezado{


    height: 10%;
    width: 90%;
    background-color: rgb(248, 194, 46);
    margin: 1em auto;
    padding-top: 25px;
    border-radius: 0.5em;

}

#menu{

    display: flex;
    height: 5%;
    width: 90%;
    background-color: rgba(52, 219, 163, 0.664);
    margin: 1em auto;
    border-radius: 0.5em;
    padding-top: 25px;

}

#menuAdmin{

    height: auto;
    width: 90%;
    background-color: rgba(52, 219, 163, 0.664);
    margin: 1em auto;
    border-radius: 0.5em;
    padding-top: 25px;

}

#contenido{

    height: 70%;
    width: 90%;
    background-color: rgba(177, 123, 80, 0.719);
    border-radius: 0.5em;
    margin: 0.5em;

}

#contenidoAdmin{
    height: 100%;
    width: 90%;
    background-color: rgba(177, 123, 80, 0.719);
    border-radius: 0.5em;
    margin: 0.5em;

}

#pie {

    height: 5%;
    width: 90%;
    background-color: rgb(182, 114, 75);
    border-radius: 0.5em;
    margin: 1.5 em;
    margin: auto;

}


#pro{
    width: 500px;
    height: 50%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 500px ;
    margin: 10px;
    box-shadow:0 0 2px blue;
    border-radius: 15px;
}
#pro img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}

#pro2{
    text-align: justify;
    font-size: large;
    height: auto;
    width: auto ;
    margin: 10px;
    box-shadow:0 0 5px red;
    border-radius: 15px;
}
#pro2 img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}


/* Selector de clase */
.menuLogin{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 40px;
    width:300px;
    height:320px;
    text-align: center;
    background-color: rgba(177, 123, 80, 0.719);
  }


.texto{

    text-align: justify;
    font-family: 'Segoe UI';
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}

.encabezado_articulo{

    text-align: center;
    background: rgb(124, 48, 13);
    color: white;
    margin: auto 2em;
    border-radius: 0.5em;

}

.imagenes{

    height: 200px; 
    width: 300px; 
    margin-left: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    margin-right: 50px;

}

.articulo1{

    margin: 5px;
    display: flex;
    text-align: justify;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

}

.articulo2{

    border: 2px solid black;
    background-color:rgb(231, 231, 179) ;
    border-radius: 8px;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: stretch;

}

.articulo3{

    border: 2px solid black;
    background-color:rgb(231, 231, 179) ;
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    justify-content: center;

}

.contenedor{

    width: auto;
    height: auto;
    border: 2px solid bisque;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 223, 108);

}

.contenedorAdmin{

    height: auto;
    width: 100%;
    border: 2px solid bisque;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(231, 223, 108);

}

.logo{

    border-radius: 100%;
    width: 300px;
    height: 300px;

}

.seccion{
    border: 2px solid black;
    background-color:rgb(231, 231, 179) ;
    border-radius: 8px;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: stretch;
}

/* Selector de etiqueta */

ul{

    text-align: center;

}

li{

    margin: 10px;
    font-size:120%;
    display: inline;
    padding-right: 12px;
    justify-content: space-between ;


}

#a1{
    display: flex;
    flex-wrap: wrap;
}

#a{
    margin: 5px;
    display: flex;
    text-align: justify;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}



