/* Sector universal */

*{

    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#encabezado{


    height: 10%;
    width: 90%;
    background-color: rgb(248, 194, 46);
    margin: 1em auto;
    padding-top: 25px;
    border-radius: 0.5em;

}

#menu{

    display: flex;
    height: 5%;
    width: 90%;
    background-color: rgba(52, 219, 163, 0.664);
    margin: 1em auto;
    border-radius: 0.5em;
    padding-top: 25px;

}

#contenido{

    height: 100%;
    width: 90%;
    background-color: rgba(177, 123, 80, 0.719);
    border-radius: 0.5em;
    margin: 0.5em;
    flex-wrap: wrap;

}

#pie {

    height: 5%;
    width: 90%;
    background-color: rgb(182, 114, 75);
    border-radius: 0.5em;
    margin: 1.5 em;

}



/* Selector de clase */

.texto{

    text-align: justify;
    font-family: 'Segoe UI';
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}

.encabezado_articulo{

    text-align: center;
    background: rgb(124, 48, 13);
    color: white;
    margin: auto 2em;
    border-radius: 0.5em;

}

.imagenes{

    height: 200px; 
    width: 300px; 
    margin-left: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    margin-right: 50px;

}

.articulo1{

    margin: 5px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;

}

#pro{
    width: 500px;
    height: 50%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 500px ;
    margin: 10px;
    box-shadow:0 0 2px rgb(255, 251, 0);
    border-radius: 15px;
}



.articulo2{

    border: 2px solid black;
    background-color:rgb(231, 231, 179) ;
    border-radius: 8px;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: stretch;

}

.articulo3{

    border: 2px solid black;
    background-color:rgb(231, 231, 179) ;
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    justify-content: center;

}

.contenedor{

    border: 2px solid bisque;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 223, 108);

}

.logo{

    border-radius: 100%;
    width: 300px;
    height: 300px;

}


/* Selector de etiqueta */

ul{

    text-align: center;

}

li{

    margin: 10px;
    font-size:120%;
    display: inline;
    padding-right: 12px;
    justify-content: space-between ;


}

#pro{
    width: 500px;
    height: 50%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 500px ;
    margin: 10px;
    box-shadow:0 0 2px rgb(0, 0, 0);
    border-radius: 16px;
}
#pro img{
    display: flex;
    height: 138.5px;
    width: auto;
}
#pro button{
    background-color: rgb(17, 218, 94);
    color: black;
    font-size: medium;
}

a{
    color: rgb(255, 230, 0);
    flex-wrap: wrap;
}

#prod{

    margin: 5px;
    display: flex;
    text-align: justify;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


