/* Selector Unversal */
*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#encabezado{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 7%;
    width: 600px;
    background-color: #21135f;
    margin: 1em auto;
    padding-top: 20px;
    border-radius: 0.5em;
    color: rgb(255, 247, 247);
    

}

#contenido{
    height: 400px;
    width: 800px;
    background-color: #5f5f5f;
    margin: 0.5em auto;
    border-radius: 0.5em;
    color: rgb(226, 241, 255);
    flex-wrap: wrap;
}

#izquierda{
    height: 70%;
    width: 61%;
    margin: 0.5em auto;
    float: left;
    padding-left: 75px;
}

#derecha{
    height: 70%;
    width: 36%;
    margin: 10px;
    float: right;
    padding-left: 20px;
}


#btnCalular{
    margin-right: 20px;
}


